:root {
  --background-color-dark: #333138;
  --background-color-light: #fffffa;
  --outline-color-dark: #000103;
  --outline-color-light: #efefef;
  --hal-color: #E92B0B;
}
@font-face {
  font-family: 'halhal';
  src: url('/styles/fonts/hal-webfont.woff') format('woff'),
    url('/styles/fonts/hal-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.l-heading {
  font-family: halhal, Arial, Helvetica, sans-serif;
}

.l-content {
  display: flex;
  flex-wrap: wrap;
}

.l-content__component {
  flex: 1 1 auto;
}