:root {
  --background-color-dark: #333138;
  --background-color-light: #fffffa;
  --outline-color-dark: #000103;
  --outline-color-light: #efefef;
  --hal-color: #E92B0B;
}

body {
  background-color: var(--background-color-dark);
}

@font-face {
  font-family: 'halhal';
  src: url('/styles/fonts/hal-webfont.woff') format('woff'),
    url('/styles/fonts/hal-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-header__image {
  width: 200px;
}

.l-heading {
  font-family: halhal, Arial, Helvetica, sans-serif;
  color: var(--outline-color-dark);
}

.l-content {
  display: flex;
  flex-wrap: wrap;
}

.l-content__component {
  flex: 1 1 auto;
}