:root {
  --background-color-dark: #333138;
  --background-color-light: #fffffa;
  --outline-color-dark: #000103;
  --outline-color-light: #efefef;
  --hal-color: #E92B0B;
}

body {
  background-color: var(--outline-color-light);
}

@font-face {
  font-family: 'halhal';
  src: url('/styles/fonts/hal-webfont.woff') format('woff'),
    url('/styles/fonts/hal-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

header {
  margin: -8px -8px 0 -8px;
  padding-top: 21.4333px;
  background-color: var(--outline-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-header__image {
  width: 200px;
}

.l-heading {
  font-family: halhal, Arial, Helvetica, sans-serif;
  color: #41FF00;
}

.l-heading_blink {
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #41FF00;
  }
}

.l-content {
  display: flex;
  flex-wrap: wrap;
}

.l-content__component {
  flex: 1 1 auto;
}

.c-reddit {
  max-width: 600px;
}

.c-reddit__posts a {
  color: var(--background-color-dark);
  text-decoration: none;
  font-size: 18px;
}

.c-reddit-post {
  border: 1px rgba(0, 0, 0, 0.40) solid;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.85);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.85);
  margin-bottom: 10px;
}

.c-reddit-post a {
  display: flex;
}

.c-reddit-post__image {
  max-width: 80px;
  display: inline;
  margin: 20px;
}

.c-reddit-post p {
  display: inline;
}